@import url("https://fonts.googleapis.com/css2?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  background-color: #dae5eb;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@media only screen and (min-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bio {
    margin-top: 6vmax;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .node-container {
    margin-top: 6vmax;
    width: 80%;
  }

  .about-text {
    text-justify: distribute;
    text-align: justify;
    margin-right: 25%;
    font-size: 12pt;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 500;
  }

  #id-skill {
    font-size: 25vmax;
    margin-top: 5vmax;
    margin-left: 25%;
    position: fixed;
  }

  .avatar {
    float: left;
    margin-left: -25vmax;
    margin-top: 9.5vmax;
    max-width: 70vmax;
    max-height: 35vmax;
  }
}

@media only screen and (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio {
    margin-top: 6vmax;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .node-container {
    margin-top: 5vmax;
    margin-left: 9%;
    width: 100%;
  }

  .about-text {
    text-justify: distribute;
    text-align: justify;
    margin-left: 9%;
    font-size: 12pt;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 500;
  }

  #id-skill {
    font-size: 27vmax;
    margin-top: 5vmax;
    margin-left: 10%;
    position: fixed;
  }

  .avatar {
    display: none;
  }
}

.vertical-timeline::before {
  background: #111a !important;
  opacity: 80%;
}

.sidebar {
  z-index: 0;
  position: absolute;
  padding: 16.3px;
}

.contact {
  margin-top: 1vmax;
}

.bacground-title {
  z-index: 0;
  position: absolute;
  opacity: 5%;
  font-size: 30vmax;
  margin-left: 6vmax;
  margin-top: 12vmax;
}

#id-work {
  font-size: 18vmax;
  position: fixed;
}

.page-button {
  border-radius: 1vmax;
  width: 300px;
  height: 144.28px;
  background-color: rgba(238, 238, 238, 0.1);
  border: none;
  font-size: 20px;
  font-weight: bolder;
  /* opacity: 40%; */
}

.node {
  max-width: 65%;
  margin-top: 5%;
}

.name {
  margin-bottom: 1vmax;
  margin-top: 4vmax;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 800;
}

.job {
  margin-top: 0;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
}

hr {
  height: 0.1vmax;
  width: 80%;
  background-color: black;
  margin-left: 0;
  color: black;
}
.icon {
  display: inline-block;
  list-style-type: none;
  margin: 0.4vmax;
  /* font-size: 20pt; */
  color: #154042;
}

.skill-icon {
  font-size: 30pt;
}

.skill-flex {
  font-family: "Source Code Pro", sans-serif;
  margin-top: 4vmax;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#id-home-parent {
  margin-top: 0;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: 3vmax 1.5vmax;
}

.skill-card > p {
  width: 70%;
  /* font-weight:; */
  font-size: 13pt;
}

#id-education {
  margin-top: 0;
  font-size: 19vmax;
  margin-bottom: 0;
  position: fixed;
}

#id-page {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 1vmax;
  margin: 2vmax;
  text-decoration: none;
}

.work-icon {
  background-color: #000 !important;
}

#id-edu {
  margin-top: -2.2vmax;
  width: 100%;
  /* position: fixed; */
}

.edu-pic {
  margin-top: 2.5vmax;
  margin-bottom: 0;
  margin-left: -16vmax;
  position: fixed;
  z-index: -1;
}

#id-edu-parent {
  margin-top: 30vmax;
  z-index: -2;
}

#id-lan {
  font-size: 19.5vmax;
  margin-top: 0;
  margin-left: 4vmax;
  opacity: 8%;
  position: fixed;
}

#id-gu {
  font-size: 19.5vmax;
  margin-top: 0;
  margin-left: 35vmax;
  opacity: 4%;
  position: fixed;
}

#id-age {
  font-size: 19.5vmax;
  margin-top: 0;
  margin-left: 58vmax;
  opacity: 8%;
  position: fixed;
}

.lang-parent {
  margin-left: 2vmax;
}

.div-lang {
  display: flex;
  flex-direction: row;
  /* margin-left: 3.5vmax; */
  position: fixed;
}

.lan-pic {
  margin-top: -2vmax;
  z-index: -1;
  position: fixed;
  margin-left: -18.7vmax;
  width: 33vmax;
}

/* .vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #1976d2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #c2185b, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
} */

#octocat {
  margin-top: 0vmax;
  padding: 0;
}

#burger {
  scale: 0.4;
  width: 60px;
  height: 45px;
  position: absolute;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60px;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  /* background-color: white; */
}

#burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  /* background-color: white; */
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  /* background-color: white; */
}

.social-icon {
  width: 100;
  height: 100;
}
