@media only screen and (max-width: 768px) {
  .profimg {
    border-radius: 20vmax;
    border: 2px solid #154042;
    width: 200px;
    margin-top: 4vmax;
    margin-bottom: 2vmax;
  }

  .container {
    background-color: #d4d6d5;
    margin-top: 0;
    padding-bottom: 4%;
  }

  .bio {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    height: 0.1vmax;
    width: 80%;
    background-color: black;
    color: black;
  }

  h2 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 1vmax;
    margin-top: 4vmax;
  }

  p {
    text-justify: distribute;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }
  .icon {
    display: inline-block !important;
    list-style-type: none;
    margin: 0.2vmax;
    font-size: 20pt;
    color: #154042;
  }

  .contact-items {
    display: inline !important;
    list-style-type: none;
  }

  .icon-contact {
    color: #154042;
    display: inline-block;
    font-size: 15pt;
  }

  .text-contact {
    display: inline-block;
    margin-left: 2%;
  }

  .contact {
    margin-top: 2%;
    align-items: left;
    gap: 15px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  

  
 
  .icon-contact {
    margin: 0.2vmax;
    font-size: 20pt;
    color: #154042;
    float: left;
  }
  .p-contact {
    margin-top: 0.2vmax;
    padding-left: 5%;
    text-align: left;
    font-size: 15pt;
  }
  .contact {
    width: 100%;
  }
}
