


@media only screen and (max-width: 768px) {
    img{
        border-radius: 15vmax;
        border: 2px solid #154042;
        width: 200px;
        margin-top: 4vmax;
        margin-bottom: 2vmax;
       }
       
    .container {
        background-color: #d4d6d5;
        margin-top: 0;
    }

    hr{
        height: 0.01vmax;
        width: 80%; 
        background-color:black;
        color: black; 
    }

    h2{
        margin-top: 0;
    }

    h1{
        margin-bottom: 1vmax;
        margin-top: 4vmax;
    }

    p{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    .icon{
        display: inline-block !important;
        list-style-type: none;
        margin: 0.2vmax;
        font-size: 20pt;
        color: #154042;
    }
}
@media only screen and (min-width: 768px) {
    img{
        border-radius: 10vmax;
        border: 2px solid #154042;
        width: 200px;
        margin-top: 3vmax;
        left: 20vmax;
        margin-bottom: 2vmax;
       }

    .container {
        background-color: #d4d6d5;
        margin-top: 0;
        display: flex;
    }
    .bio{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .picture{
        height: 100%;
        width: 30%;
        margin-left: 0;
        /* display: flex;
        flex-direction: column;
        align-items: center; */

    }

    hr{
        height: 0.01vmax;
        width: 80%; 
        background-color:black; 
        margin-left: 0;
        color: black;
    }

    h2{
        margin-top: 0;
    }

    h1{
        margin-bottom: 1vmax;
        margin-top: 4vmax;
    }

    p{
        margin-right: 25%;
        text-align: left;
        font-size: 15pt;
    }

    .icon{
        display: inline-block;
        list-style-type: none;
        margin: 0.2vmax;
        font-size: 20pt;
        color: #154042;
    }
}