figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  /* height: 0%; */
}
figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0000;

  /* padding: 0.75rem; */
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  /* margin: -1px; */
}
figure:hover figcaption {
  --_i: 0%;
  width: 8.5vmax;
  border-radius: 1vmax;
  background-color: #d5e9dd;
}
figure:hover img {
  transform: scale(1.1);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #000;

  }
}

body {
  margin: 0;
  min-height: 10vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  background: #154042;
}

.skillimg{
    border-radius: 1.5vmax;
    /* height: 100%; */
    width: 8vmax;
}

.card-container{
    display: inline-block;
    margin-top: 1%;
}
#colorskill{
    color: #d5e9dd;
    border-color: #d5e9dd;
}
