/* Content */
.vert-hr {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 14px;
    bottom: 6px;
    left: -13.1px;
    border-left: 1px solid #222;
    transform: translate(-50%);
  }
}
.title-dot {
  margin-left: -27px;
  font-size: 12px;
  z-index: 99;
  color: #222;
  vertical-align: middle;
  &:last-child {
    font-size: 0.4em;
  }
  &-sm {
    left: 4px;
    margin-left: -27px;
    font-size: 10px;
    z-index: 99;
    color: #222;
    vertical-align: middle;

    &:last-child {
      font-size: 0.5em;
    }
  }
}
.title {
  margin-left: -22px;
  color: #0b3c49;
}
